body {
  margin: 0 auto;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background: #F4F4F4;
  color: #2d3436;
}

#home-link, #slideshow-link, #services-link, #overview-link {
  display: block;
  position: relative;
  visibility: hidden;
}

#slideshow-link {
  top: 1px;
}

#services-link, #contacts-link {
  bottom: 35px;
}

h2 {
  line-height: 1.5;
}

h3 {
  font-size: 1.60rem;
}

/* ----------------------------- Navigation Bar -------------------------*/
.navbar {
  padding: 20px 13%;
}

.bg-dark {
  background: rgba(178, 190, 195, 0.57) !important;
}

.navbar-dark a, .navbar-toggler {
  border-color: #2d3436 !important;
  color: #2d3436 !important;
}

.navbar-toggler-icon {
  background-image: url('http://joseph-miskolci.com/pages/OCR%20web/public/images/icons/bars-solid.svg') !important;
  color: #2d3436 !important;
  font-size: 15px;
}

/* ------------------------- Slideshow Home -------------------------*/
#slideshow-home {
  width: 100%;
}

figure {
  margin: 0;
}

.carousel-slides ul {
  padding: 0;
}

.enabled {
  background-image:
    linear-gradient(to bottom, rgba(178, 190, 195, 0) 50%, rgba(200, 208, 214, 1) 87%, rgba(215, 221, 227, 1) 91%, #F4F4F4 100%);
  position: 10% 40%;
}

.enabled img {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.PresentationTextTop {
  position: absolute;
  color: white;
  font-size: 1rem;
  text-align: center;
  top: 7%;
  width: 100%;
}

.PresentationText {
  position: absolute;
  color: white;
  font-size: 20px;
  text-align: center;
  top: 470px;
  width: 100%;
}

.PresentationText h3 {
  font-size: 25px;
  margin-top: 10px;
  font-weight: 400;
}

.PresentationText h2 {
  font-size: 70px;
  margin-top: 30px;
  font-weight: 600;
}

.AccessButtons {
  margin-top: 30px;
}

.AccessButtons a {
  margin-left: 20px;
}

.btn-outline-secondary {
  color: white;
}

/* ------------------------------ Author's Biography -------------------------*/
.BiographyTitle, .PublicationsTitle {
  display: table;
  margin: 0 auto;
  position: relative;
  width: 40%;
  bottom: 130px;
  color: #0984e3;
  text-align: center;
  font-family: 'Homemade Apple', cursive;
  background: rgba(178, 190, 195, 0.7);
  padding: 40px 20px 30px;
  border-radius: 10px;
}

.PublicationsTitle {
  bottom: 130px;
}

#biography {
  max-height: 100px;
}

/* ------------------------------ Articles + Comments -------------------------*/
.CommentsName {
  display: table;
  margin: 0 auto 50px;
  position: relative;
  width: 30%;
  color: #0984e3;
  text-align: center;
  font-family: 'Homemade Apple', cursive;
  background: rgba(178, 190, 195, 0.85);
  padding: 35px 20px 20px;
  border-radius: 10px;
}

.CommentsName h2 {
  font-size: 30px;
}

.Commentaries, .CommentariesError {
  background: rgba(178, 190, 195, 0.17);
  border-radius: 10px;
  padding: 20px;
  width: 70%;
  margin: 0 auto;
  color: #2d3436;
}

.CommentariesError {
  margin-bottom: 50px;
  font-size: 25px;
  border: 1px solid rgba(214, 48, 49,1.0);
}

.CommentariesError p {
  display: table;
  margin: 0 auto;
}

#Publications {
  padding: 10px 5% 50px;
  border-radius: 10px;
  margin: 0 auto;
}

#social-medias {
  padding: 50px 5% 50px;
  background-color: rgba(223, 230, 233, 0.5);
  max-height: 350px;
  margin-bottom: 50px;
  margin: 0 auto;
}

.PublicationButton {
  margin: 40px auto 0;
  max-width: 1560px;
}

.PublicationsTitle, .social-title {
  text-align: center;
  margin-bottom: 25px;
}

.FlagForm {
margin-top: 0px;
max-width: 100%;
}

.FlagComments {
  float : right;
  border: none;
  background: rgba(178, 190, 195, 0.00);
}

.FlagCommentsRed {
  float : right;
  background: rgba(214, 48, 49, 0.90);
  color: white;
  border: none;
  border-radius: 5px;
}

.Articles, .ErrorMessage {
  background: rgba(178, 190, 195, 0.17);
  border-radius: 10px;
  padding: 20px;
  width: 85%;
  margin: 0 auto;
  color: #2d3436;
}

.ErrorMessage {
  margin: 100px auto;
  padding: 80px;
  font-size: 40px;
  display: table;
  border: 1px solid rgba(214, 48, 49,1.0);
}

.ErrorText {
  text-align: center;
}

.fa-exclamation-triangle {
  font-size: 120px;
  display: table;
  margin: 0 auto 30px;
}

.ArticleText {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  line-height: 1.5rem;
  font-size: 15px;
}

.CommentaryText {
  font-size: 14px;
}

hr {
  width: 35%;
  margin: 20px auto;
}

.Articles h3 {
  padding: 10px 0px;
}

.Articles h3 a {
  color: #0984e3;
  padding: 10px 0 0 50px;
  font-size: 2rem;
  font-family: 'Homemade Apple', cursive;
}

.ArticleDate {
  position: relative;
  bottom: 5px;
  float: right;
  font-size: 10px;
}

.ArticleDateProfile {
  position: relative;
  top: 25px;
  float: right;
  font-size: 10px;
}

.ArticleLikes {
  position: absolute;
}

.CommentsPost {
  margin-top: 50px;
}

form {
  margin: 0 auto;
  margin-top: 50px;
  max-width: 1100px;
}

label {
  padding-right: 5px;
}

.name-form-and-email-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 70%;
  margin: 0 auto;
}

.message-form p {
  margin: 0 auto;
  width: 80%;
}

input, textarea {
  background: rgba(178, 190, 195, 0.87);
  border-radius: 5px;
  border: none;
  margin: 0 auto;
  color: #2d3436;
}

textarea {
  width: 100%;
}

.comment-sending {
  display: table;
  margin: 0 auto 50px;
}

/* ------------------------------ Social Logos ------------------------------*/
#social-medias {
  max-height: 350px;
  margin-bottom: 50px;
}

.social-logos {
  display: table;
  margin: 0 auto;
}

.social-title {
  color: #2d3436;
}

.social-logos i {
  padding: 40px 20px;
  font-size: 50px;
}

/* ------------------------------ Footer ------------------------------------*/
footer {
  background-color: rgba(178, 190, 195, 0.57);
  padding: 35px;
  width: 100%;
}

.site-infos {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
}

.site-infos p {
  font-family: 'Homemade Apple', cursive;
  margin-bottom: 8px;
}

.site-infos a {
  color: #2d3436;
  font-size: 14px;
}

.footer-address, .footer-admin {
  font-size: 16px;
  line-height: 150%;
  display: table;
  margin: 0 auto;
}

.copyright {
  text-align: center;
  margin: 20px 0 0;
  line-height: 200%;
  color: #2d3436;
  font-size: 10px;
}

/* ------------------------------ Admin ----------------------------------------------------*/
#Admin-full-width {
  height: 400px;
  margin: 50px 5% 50px;
  border-radius: 10px;
}

#Admin-half-width {
  height: 400px;
  width: 40%;
  margin: 0px 5% 50px;
  border-radius: 10px;
}

#Admin-full-width a:hover, #Admin-half-width a:hover {
  text-decoration: none;
}

.AdminHalfTitle {
  position: relative;
  top: 100px;
  width: 50%;
  display: table;
  margin: 0 auto;
  color: white;
  text-align: center;
  font-family: 'Homemade Apple', cursive;
  background: rgba(178, 190, 195, 0.87);
  padding: 50px 20px 40px;
  border-radius: 10px;
}

.AdminHalfTitle {
  bottom: 300px;
}

.AdminHalfTitle h3 {
  font-size: 30px;
}

.AdminText p {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  min-height: 6em;
  max-height: 6.2em;
  line-height: 1.5rem;
  font-size: 15px;
}

.linkAdmin {
  height: 400px;
  max-width: 1920px;
  display: block;
}

.sectionAdminHalfWidth {
  display: flex;
  flex-wrap: wrap;
}

.WriteArticleAdmin {
  background: linear-gradient(rgba(0, 148, 50, 0.1),
      rgba(0, 148, 50, 0.8)), url("http://joseph-miskolci.com/pages/jeanforteroche/public/images/img/Writing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.EditMembersAdmin {
  background: linear-gradient(rgba(27, 20, 100, 0.1),
        rgba(27, 20, 100, 0.8)), url("http://joseph-miskolci.com/pages/jeanforteroche/public/images/img/PeopleChatting.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.DeleteArticleAdmin {
  background: linear-gradient(rgba(234, 32, 39, 0.1),
      rgba(234, 32, 39, 0.8)), url("http://joseph-miskolci.com/pages/jeanforteroche/public/images/img/DeleteArticle.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.EditCommWaitingAdmin {
  background: linear-gradient(rgba(18, 137, 167, 0.1),
      rgba(18, 137, 167, 0.8)), url("http://joseph-miskolci.com/pages/jeanforteroche/public/images/img/Comments.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.EditCommPostedAdmin {
  background: linear-gradient(rgba(247, 159, 31, 0.1),
      rgba(247, 159, 31, 0.8)), url("http://joseph-miskolci.com/pages/jeanforteroche/public/images/img/PublishedComments.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.publishArticle h1, .TopTitle h1, .publishArticle h2, .TopTitle h2 {
  display: table;
  margin: 0 auto 50px;
  position: relative;
  width: 65%;
  color: #0984e3;
  text-align: center;
  font-family: 'Homemade Apple', cursive;
  background: rgba(178, 190, 195, 0.85);
  padding: 45px 20px 40px;
  border-radius: 10px;
}

.TopTitle h1, .TopTitle h2 {
  margin: 50px auto 50px;
}

.publishArticle h3 {
  display: table;
  margin: 0 auto 30px;
}

.publishArticle {
  padding: 50px 5% 110px;
}

.publishArticle label {
  display: table;
  margin: 0 auto;
  font-size: 25px;
}

.publishArticle #name {
  display: table;
  margin: 0 auto;
  background: white;
  border: 1px solid rgba(178, 190, 195, 0.87);
  width: 50%;
  margin: 10px auto 30px;
}

.publishArticle #send {
  margin-top: 30px;
  padding: 10px;
  float: right;
}

.publishArticle textarea {
  display: table;
  background: white;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin: 10px auto 20px;
  width: 50%;
}

.ArticleTitleDelete {
  display: table;
  margin: 0 auto;
}

.textArticleDelete {
  display: table;
  background: white;
  border: 1px solid rgba(178, 190, 195, 0.87);
  width: 50%;
  margin: 10px auto 30px;
  padding: 30px;
  border-radius: 10px;
}

.circle-admin {
  float: right;
}

/* ------------------------------ Member's Area ------------------------------------*/
.forminscriptioncore {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin: 50px auto 50px;
}

.forminscriptioncore form {
  margin: 0px;
}

.forminscriptioncore h3 {
  width: 30%;
  line-height: 1.60;
}

.forminscriptioncore input, .FormEditionProfile input, .FormInfos input, .formMessage input {
  padding: 15px;
  width: 300px;
  background: rgba(178, 190, 195, 0.47);
}

.validateinscription {
  border: 1px solid #4cd137;
}

.error_text {
  position: absolute;
  top: 290px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inscriptionbutton {
  display: table;
  margin: 0 auto;
  margin-bottom: 50px;
  background-color: rgba(0, 184, 148,0.7);
  border: none;
  padding: 10px;
}

.ProfileText {
  display: table;
  background: rgba(178, 190, 195, 0.17);
  padding: 20px;
  border-radius: 10px;
  width: 30%;
  margin: 0 auto 50px;
}

.ProfileEdit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgba(178, 190, 195, 0.17);
  padding: 20px;
  border-radius: 10px;
  width: 55%;
  margin: 0 auto 50px;
}

.editionProfile, .ProfileInformations p {
  display: table;
  margin: 0 auto 5px;
}

.FormEditionProfile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ProfileCommentaries, .ProfileInformations, .CommentsInformations {
  margin: auto 50px ;
}

.contactForm {
  position: relative;
  background: rgba(178, 190, 195, 0.17);
  padding: 20px;
  border-radius: 10px;
  width: 55%;
  margin: 0 auto 50px;
}

.FormEditionProfile form {
  margin: 0 50px 0;
}

.FormInfos {
  display: table;
  margin: 0 auto;
}

.FormInfos form {
  margin: 20px 50px 20px;
}

#FormTitle {
  max-height: 50px;
}

.formMessage textarea {
  height: 150px;
  padding: 10px 10px;
}

.formMessage input {
  display: table;
  margin: 0 auto;
}

/* ------------------------------ 1173px / Desktop - 4K ------------------------------------*/
@media screen and (min-width: 1173px) {
  #services-section {
    max-width: 1920px;
    margin: 0 auto;
  }

  #overview {
    max-width: 1485px;
  }
}

/* ------------------------------ 948px ------------------------------------*/
@media screen and (max-width: 948px) {
  span {
    font-size: 14px;
  }

  h4 {
    margin: 10px 0 10px 0px;
    padding: 0;
    font-size: 15px;
  }

  #map {
    display: table;
    width: 90%;
    margin: 0 auto 25px;
    height: 500px;
  }

  .form {
    height: auto;
    width: 88%;
    padding: 10px 10px 30px;
  }

  .form-text {
    height: auto;
  }

  .logo-form img {
    height: auto;
    width: 180px;
  }

  .main-feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .reservation {
    height: auto;
  }

  .logo-form {
    margin: 10px auto;
    padding: 0;
    width: 180px;
    height: 80px;
  }

  #overview {
    height: auto;
    width: 79%;
    padding: 10px;
  }

  .canvas-buttons {
    margin: 10px auto;
  }

  #overview-link, #contacts-link {
    top: 1px;
  }
}

/* ------------------------------ 768px ------------------------------------*/
@media screen and (max-width: 768px) {
  .BiographyText {
    bottom: 350px;
  }

  #slideshow-link {
    top: 1px;
  }

  #services-link, #contacts-link {
    top: 0;
    bottom: 0;
  }

  .PresentationText {
    top: 280px;
    padding: 0 12px;
  }

  .carousel-slides ul {
    padding: 0;
  }

  .carousel-slides li {
    position: absolute;
    list-style: none;
    height: 800px;
    width: 100%;
    object-fit: cover;
  }

  .carousel-slides li img {
    width: 100%;
    object-fit: cover;
  }

  .footer-address, .footer-admin {
    color: #2d3436;
    font-size: 16px;
    line-height: 150%;
  }

  form {
    padding: 0 100px;
  }

  .name-form-and-email-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  input {
    width: 100%;
  }

  .email-form {
    padding-top: 20px;
  }

  .message-form p {
    padding-top: 0px;
  }
}

/* ------------------------------ 488px ------------------------------------*/
@media screen and (max-width: 488px) {
  .carousel-slides li img {
    object-fit: cover;
    object-position: 30% 50%;
  }

  .PresentationText h3 {
    font-size: 18px;
    margin-top: 10px;
    font-weight: 400;
  }

  .PresentationText h2 {
    font-size: 50px;
    margin-top: 30px;
    font-weight: 600;
  }

  .AccessButtons a {
    margin: 0 20px 20px;
    font-size: 18px;
  }

  .BiographyText {
    bottom: 400px;
  }

  .BiographyText a {
    display: table;
    margin: 0 auto;
  }

  .BookText a {
    margin: 0 auto;
    font-size: 0.9rem;
  }

  .secondBook img {
    object-fit: cover;
    object-position: 20% 90%;
  }

  .social-logos i {
    padding: 40px 20px;
    font-size: 40px;
  }

  .Commentaries {
    width: 90%;
  }

  .carousel-text p {
    font-size: 16px;
  }

  .Articles h3 a {
    display: table;
    margin: 0 auto;
    padding: 0;
  }

  .PublicationButton {
    display: table;
  }

  #biography {
    max-height: 110px;
  }

  .BiographyTitle {
    bottom: 350px;
  }

  .site-infos {
    flex-direction: column;
    display: table;
    margin: 0 auto;
  }

  .footer-admin {
    margin-top: 50px;
  }

  form {
    padding: 0 5%;
  }

  #slideshow-link {
    top: 300px;
  }

  .carousel-text {
    height: 360px;
    width: 71%;
    margin-bottom: 10px;
  }

  #services-section {
    margin-top: 70px;
  }
}

/* ------------------------------ 400px ------------------------------------*/
@media screen and (max-width: 400px) {
  .BookText {
    bottom: 325px;
  }

  .secondLastText {
    bottom: 280px;
  }
}
  /* ------------------------------ 376px ------------------------------------*/
  @media screen and (max-width: 376px) {
    .BookText {
      bottom: 280px;
    }

    .secondLastText, .thirdLastText {
      bottom: 260px;
    }
  }

  /* ------------------------------ 361px ------------------------------------*/
  @media screen and (max-width: 361px) {
    .BookText {
      bottom: 310px;
    }

    .secondLastText {
      bottom: 260px;
    }

    .thirdLastText {
      bottom: 280px;
    }

    .social-logos i {
      padding: 30px 20px;
      font-size: 30px;
    }

    #slideshow-link {
      top: 400px;
    }

    #services-section {
      margin-top: 195px;
    }

    .form {
      height: 730px;
    }

    #overview h3 {
      font-size: 1.6rem;
    }
  }

  /* ------------------------------ 321px ------------------------------------*/
  @media screen and (max-width: 321px) {
    .thirdLastText {
      bottom: 310px;
    }
  }