body {
  margin: 0 auto;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background: #F4F4F4;
  color: #2d3436;
}

#home-link, #slideshow-link, #services-link, #overview-link {
  display: block;
  position: relative;
  visibility: hidden;
}

#slideshow-link {
  top: 1px;
}

#services-link, #contacts-link {
  bottom: 35px;
}

h3 {
  font-size: 1.60rem;
}


/* ----------------------------- Navigation Bar -------------------------*/
.navbar {
  padding: 20px 13%;
}

.bg-dark {
  background: rgba(178, 190, 195, 0.57) !important;
}

.navbar-dark a, .navbar-toggler {
  border-color: #2d3436 !important;
  color: #2d3436 !important;
}

.navbar-toggler-icon {
  background-image: url('http://joseph-miskolci.com/pages/OCR%20web/public/images/icons/bars-solid.svg') !important;
  color: #2d3436 !important;
  font-size: 15px;
}

/* ------------------------- Slideshow Home -------------------------*/
#slideshow-home {
  width: 100%;
}

figure {
  margin: 0;
}

.carousel-slides ul {
  padding: 0;
}

.enabled {
  background-image:
    linear-gradient(to bottom, rgba(178,190,195,0) 50%, rgba(200,208,214,1) 87%, rgba(215,221,227,1) 91%, #F4F4F4 100%),
    url('http://joseph-miskolci.com/pages/OCR%20web/public/images/img/HeroPicture.jpg');
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: 10% 40%;
}

.PresentationTextTop {
  position: absolute;
  color: white;
  font-size: 1rem;
  text-align: center;
  top: 7%;
  width: 100%;
}

.PresentationText {
  position: absolute;
  color: white;
  font-size: 20px;
  text-align: center;
  top: 470px;
  width: 100%;
}

.PresentationText h3 {
  font-size: 25px;
  margin-top: 10px;
  font-weight: 400;
}

.PresentationText h2 {
  font-size: 70px;
  margin-top: 30px;
  font-weight: 600;
}

.AccessButtons {
  margin-top: 30px;
}

.AccessButtons a {
  margin-left: 20px;
}

.btn-outline-secondary {
  color: white;
}

/* ------------------------------ Author's Biography -------------------------*/
.BiographyName {
  display: table;
  margin: 0 auto;
  position: relative;
  width: 40%;
  bottom: 70px;
  color: #0984e3;
  text-align: center;
  font-family: 'Homemade Apple', cursive;
  background: rgba(178, 190, 195, 0.87);
  padding: 40px 20px 30px;
  border-radius: 10px;
}

/* ------------------------------ Comments -------------------------*/
.CommentsName {
  display: table;
  margin: 0 auto 50px;
  position: relative;
  width: 30%;
  color: #0984e3;
  text-align: center;
  font-family: 'Homemade Apple', cursive;
  background: rgba(178, 190, 195, 0.87);
  padding: 35px 20px 20px;
  border-radius: 10px;
}

.CommentsName h2 {
  font-size: 30px;
}

.Commentaries {
  background: rgba(178, 190, 195, 0.17);
  border-radius: 10px;
  padding: 20px;
  width: 70%;
  margin: 0 auto;
  color: #2d3436;
}

#Publications {
  padding: 10px 5% 50px;
  border-radius: 10px;
  margin: 0 auto;
}

#social-medias {
  padding: 50px 5% 50px;
  background-color: rgba(223, 230, 233, 0.5);
  max-height: 350px;
  margin-bottom: 50px;
  margin: 0 auto;
}

.PublicationButton {
  margin: 40px auto 0;
  max-width: 1560px;
}

.PublicationsTitle, .social-title {
  text-align: center;
  margin-bottom: 25px;
}

.Articles {
  background: rgba(178, 190, 195, 0.17);
  border-radius: 10px;
  padding: 20px;
  max-width: 1560px;
  margin: 0 auto;
  color: #2d3436;
}

.ArticleText {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  line-height: 1.5rem;
  font-size: 15px;
}

.CommentaryText {
  font-size: 14px;
}

.Comment hr {
  width: 35%;
  margin: 20px auto;
}

.Articles h3 {
  padding: 10px 0px;
}

.Articles h3 a {
  color: #0984e3;
  padding: 10px 0 0 50px;
  font-size: 2rem;
  font-family: 'Homemade Apple', cursive;
}

.ArticleDate {
  position: relative;
  bottom: 5px;
  float: right;
  font-size: 10px;
}

.CommentsPost {
  margin-top: 50px;
}

form {
  margin: 0 auto;
  margin-top: 50px;
  max-width: 1100px;
}

label {
  padding-right: 5px;
}

.name-form-and-email-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 70%;
  margin: 0 auto;
}

.message-form p {
  padding-top: 50px;
  margin: 0 auto;
  width: 80%;
}

input, textarea {
  background: rgba(178, 190, 195, 0.87);
  border-radius: 5px;
  border: none;
  margin: 0 auto;
  color: #2d3436;
}

textarea {
  width: 100%;
}

.comment-sending {
  display: table;
  margin: 0 auto 50px;
}


/* ------------------------------ Social Logos ------------------------------*/
#social-medias {
  max-height: 350px;
  margin-bottom: 50px;
}

.social-logos {
  display: table;
  margin: 0 auto;
}

.social-title {
  color: #2d3436;
}

.social-logos i {
  padding: 40px 20px;
  font-size: 50px;
}

/* ------------------------------ Footer ------------------------------------*/
footer {
  background-color: rgba(178, 190, 195, 0.57);
  padding: 35px;
  width: 100%;
}

.site-infos {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
}

.site-infos p {
  font-family: 'Homemade Apple', cursive;
  margin-bottom: 8px;
}

.site-infos a {
  color: #2d3436;
  font-size: 14px;
}

.footer-address, .footer-admin {
  font-size: 16px;
  line-height: 150%;
  display: table;
  margin: 0 auto;
}

.copyright {
  text-align: center;
  margin: 20px 0 0;
  line-height: 200%;
  color: #2d3436;
  font-size: 10px;
}

/* ------------------------------ 1173px / Desktop - 4K ------------------------------------*/
@media screen and (min-width: 1173px) {
  #services-section {
    max-width: 1920px;
    margin: 0 auto;
  }

  #overview {
    max-width: 1485px;
  }
}

/* ------------------------------ 948px ------------------------------------*/
@media screen and (max-width: 948px) {
  hr {
    margin: 10px 0 10px 0px;
  }

  span {
    font-size: 14px;
  }

  h4 {
    margin: 10px 0 10px 0px;
    padding: 0;
    font-size: 15px;
  }

  #map {
    display: table;
    width: 90%;
    margin: 0 auto 25px;
    height: 500px;
  }

  .form {
    height: auto;
    width: 88%;
    padding: 10px 10px 30px;
  }

  .form-text {
    height: auto;
  }

  .logo-form img {
    height: auto;
    width: 180px;
  }

  .main-feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .reservation {
    height: auto;
  }

  .logo-form {
    margin: 10px auto;
    padding: 0;
    width: 180px;
    height: 80px;
  }

  #overview {
    height: auto;
    width: 79%;
    padding: 10px;
  }

  .canvas-buttons {
    margin: 10px auto;
  }

  #overview-link, #contacts-link {
    top: 1px;
  }
}

/* ------------------------------ 768px ------------------------------------*/
@media screen and (max-width: 768px) {
  .BiographyText {
    bottom: 350px;
  }

  #slideshow-link {
    top: 1px;
  }

  #services-link, #contacts-link {
    top: 0;
    bottom: 0;
  }

  .PresentationText {
    top: 280px;
    padding: 0 12px;
  }

  .carousel-slides ul {
    padding: 0;
  }

  .carousel-slides li {
    position: absolute;
    list-style: none;
    height: 800px;
    width: 100%;
    object-fit: cover;
  }

  .carousel-slides li img {
    width: 100%;
    object-fit: cover;
  }

  .footer-address, .footer-admin {
    color: #2d3436;
    font-size: 16px;
    line-height: 150%;
  }

  form {
    padding: 0 100px;
  }

  .name-form-and-email-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  input {
    width: 100%;
  }
.email-form {
  padding-top: 20px;
}
  .message-form p {
    padding-top: 0px;
  }
}

/* ------------------------------ 488px ------------------------------------*/
@media screen and (max-width: 488px) {
  .carousel-slides li img {
    object-fit: cover;
    object-position: 30% 50%;
  }

  .PresentationText h3 {
    font-size: 18px;
    margin-top: 10px;
    font-weight: 400;
  }

  .PresentationText h2 {
    font-size: 50px;
    margin-top: 30px;
    font-weight: 600;
  }

  .AccessButtons a {
    margin: 0 20px 20px;
    font-size: 18px;
  }

  .BiographyText {
    bottom: 400px;
  }

  .BiographyText a {
    display: table;
    margin: 0 auto;
  }

  .BookText a {
    margin: 0 auto;
    font-size: 0.9rem;
  }

  .secondBook img {
    object-fit: cover;
    object-position: 20% 90%;
  }

  .social-logos i {
    padding: 40px 20px;
    font-size: 40px;
  }

  .Commentaries {
    width: 90%;
  }

  .carousel-text p {
    font-size: 16px;
  }

  .Articles h3 a {
    display: table;
    margin: 0 auto;
    padding: 0;
  }

  .PublicationButton {
    display: table;
  }

  #biography {
    max-height: 130px;
  }

  .BiographyName {
    bottom: 100px;
  }

  .site-infos {
    flex-direction: column;
    display: table;
    margin: 0 auto;
  }

  .footer-admin {
    margin-top: 50px;
  }

  form {
    padding: 0 5%;
  }

  #slideshow-link {
    top: 300px;
  }

  .carousel-text {
    height: 360px;
    width: 71%;
    margin-bottom: 10px;
  }

  #services-section {
    margin-top: 70px;
  }
}

/* ------------------------------ 400px ------------------------------------*/
@media screen and (max-width: 400px) {
  .BookText {
    bottom: 325px;
  }

  .secondLastText {
    bottom: 280px;
  }

  /* ------------------------------ 376px ------------------------------------*/
  @media screen and (max-width: 376px) {
    .BookText {
      bottom: 280px;
    }

    .secondLastText, .thirdLastText {
      bottom: 260px;
    }
  }

  /* ------------------------------ 361px ------------------------------------*/
  @media screen and (max-width: 361px) {
    .BookText {
      bottom: 310px;
    }

    .secondLastText {
      bottom: 260px;
    }

    .thirdLastText {
      bottom: 280px;
    }

    .social-logos i {
      padding: 30px 20px;
      font-size: 30px;
    }

    #slideshow-link {
      top: 400px;
    }

    #services-section {
      margin-top: 195px;
    }

    .form {
      height: 730px;
    }

    #overview h3 {
      font-size: 1.6rem;
    }
  }

  /* ------------------------------ 321px ------------------------------------*/
  @media screen and (max-width: 321px) {
    .thirdLastText {
      bottom: 310px;
    }
  }
